.initiative-container {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
    width: fit-content;
    display: flex;
    gap: 1rem;
}
.initiative-bar {
    display: flex;
    gap: 1rem;
}

.initiative-item {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}