<!-- This will be the top level view a player see when they are in a battle -->
<div class="initiative-bar-container">
  <app-initiative-bar [turnState]="battleState()"></app-initiative-bar>
</div> 

 <div class="battle-map-ui-container">

  <div class="left-content-container">
    <div class="card">
      <div>Round: {{ battleState()?.roundNumber }}</div>
      <div>Turn: {{ battleState()?.currentTurn  }}</div>
    </div>

    <div class="card">
      <div>Characters Turn: {{ currentCharacter()?.name }}</div>
      @for (level of characterClasses(); track $index) {
        <div>Class: {{ level.className }} Level: {{ level.classLevel }}</div>
      }
      <div>Actions Remaining: {{ remainingActionsInTurn() }}</div>

    </div>
  </div>


  <div class="map-container">
    <app-map 
      class="map"
      [characters]="characters()" 
      [items]="items()" 
      [location]="location()" 
      [actionContext]="selectedActionContext()" 
      [startingPoint]="startingPoint" 
      [endingPoint]="endingPoint"
      (battleCellClicked)="onBattleCellClicked($event)"
    ></app-map>
  </div>

  <div>
    <div class="character-info-container card">
      <div>Characters</div>
      <div class="characterList">
        @for (character of characters(); track $index) {
          <div>
            <span>Name: {{ character.name }} Health: {{character.currentHealth}} / {{character.health}}</span>
          </div>
        }
      </div>
    </div>
    <div>
      @for(message of this.log(); track $index) {
        <p>{{ message }}</p>
      }
    </div>
  </div>
</div>

<div class="action-bar-container">
  @if (remainingActionsInTurn() > 0) {
    <div class="action-bar">
      @switch (actionState()) {
        @case (actionStates.NoSelection) {
          @for (group of characterActions(); track $index) {
            @switch (group.actionType) {
              @case (actionTypes.ATTACK) {
                <div>
                  <div>Attack Actions:</div>
                  <div class="action-group">
                  @for (action of group.actions; track $index) {
                    <button (click)="selectAttack(action)">{{ action.name }}</button>
                  }
                  </div>
                </div>
              }
              @case (actionTypes.MOVE) {
                <div>
                  <div>Move Actions:</div>
                  <div class="action-group">
                  @for (action of group.actions; track $index) {
                    <button (click)="selectMove(action)">{{ action.name }}</button>
                  }
                  </div>
                </div>
              }
              @case (actionTypes.INTERACT) {
                <div>
                  <div>Interact Actions:</div>
                  <div class="action-group">@for (action of group.actions; track $index) {
                    <button (click)="selectInteract(action)">{{ action.name }}</button>
                  }
                  </div>
                </div>
              }
            }
          }
          <div>
            <div>Measure Actions:</div>
            <div class="action-group">
              <button (click)="selectMeasure()">Measure Line of Sight</button>
            
            </div>
          </div>
        }
        @case (actionStates.MoveSelected) {
          <span>Select a square to move to</span>
          <button (click)="clearAction()">Cancel</button>
        }
        @case (actionStates.AttackSelected) {
          <span>Select an enemy to attack</span>
          <button (click)="clearAction()">Cancel</button>
        }
        @case (actionStates.InteractSelected) {
          <span>Select an item to pick up</span>
          <button (click)="clearAction()">Cancel</button>
        }
        @case (actionStates.MeasureSelected) {
          <div>Measure Line of Sight:</div>
          <div>Starting Point: {{ startingPoint?.x }},{{ startingPoint?.y }}</div>
          <div>End Point: {{ endingPoint?.x }},{{ endingPoint?.y }}</div>
          <button (click)="clearPoints()">Clear Selected Points</button>
          <button (click)="clearAction()">Cancel</button>
        }

      }
    </div>
  }
  <button (click)="endTurn()">End Turn</button>
</div>
