<!-- This will be the top level view a player see when they are in a battle -->
 <div>

    <div class="turn-info-container">
      <div>Round: {{ battle()?.roundNumber }}</div>
      <div>Turn: {{ battle()?.currentTurn  }}</div>
      <div>Characters Turn: {{ currentCharacter()?.name }}</div>
    </div>

    <div class="map-container">
      <app-map [characters]="characters()" [items]="items()" [location]="location()"></app-map>
    </div>

    <div class="action-bar-container">
      <div class="action-bar">
        @switch (actionState()) {
          @case (actionStates.NoSelection) {
            
              @for (action of actions; track $index) {
                <button (click)="selectAction(action)">{{ action.name }}</button>
              }
          }
          @case (actionStates.MoveSelected) {
            <span>Select a square to move to</span>
            <button (click)="cancelAction()">Cancel</button>
          }
          @case (actionStates.AttackSelected) {
            <span>Select an enemy to attack</span>
            <button (click)="cancelAction()">Cancel</button>
          }
          @case (actionStates.ItemPickUpSelected) {
            <span>Select an item to pick up</span>
            <button (click)="cancelAction()">Cancel</button>
          }
        }
      </div>
      <button (click)="endTurn()">End Turn</button>
    </div>

    <!-- There will be content showing information about characters in the combat -->
 </div>
