.battle-map-ui-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.map-container {
    display: flex;
    justify-content: center;
}

.action-bar-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.action-bar {
    display: flex;
    gap: 1rem;
}
